body {
  font-family: 'Poppins', sans-serif;
  font-size: 110%;
  background-color: #FCF7F8;
}

header {
  text-align: center;
}

footer {
  background-color: #343330;
  text-align: center;
}

h1 {
  font-family: 'Noto Serif Display', serif;
  color: #8C5B49;
}

.info {
  background-color: #F2BFB3;
}