body {
  color: #41424E;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  background-color: #F2E0D0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


footer {
  background-color: #A65362;
  text-align: center;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  color: #F2E0D0;
  font-size: 800%;
  padding-top: 15%;
  margin: 0;
}

#slogan {
  color: #F2E0D0;
  padding-bottom: 15%;
  font-size: 200%;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 250%;
  color: #A65362;
}


img {
  border-radius: 50%;
  width: 20%;
  height: 45%;
  border: 3px solid #F2E0D0;
}

header {
  background-color: #A65362;
  margin: 0%;
  padding: 0%;
  text-align: center;
}


#Menu {
  background-color: #A65362;
  padding-top: 2%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin-left: 20%;
  margin-right: 20%;
}

.NavOption {
  text-decoration: none;
  color: #F2E0D0;
  font-weight: 400;
  font-family: 'playfair display', serif;
}

#profile {
  background-color: #BF8F84;
  margin: 0%;
  padding: 5%;
}

.info {
  padding: 0 5% 0 5%;
}